$color1: white;
$color2: black;
$color3: rgb(146, 149, 255);
$color4: rgb(119, 180, 254);
$color5: rgb(124, 141, 147);
$color6: rgb(11, 16, 51);
$color7: teal;
$color8: dimgrey;

$font-family1: 'Open Sans', sans-serif;